/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
/.history
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.history
/cache/files
/cache/
/public/.htaccess
composer.lock
/cache
/.git_old